.textareas {
    padding: 2% !important;
}

.contenedorB {
    padding: 2% !important;
}

.textareaaa {
    height: 90% !important;
}

.labelInput {
    padding: 1% !important;
    background-color: #f7c341 !important;
}

.h11 {
    justify-content: center !important;
    align-items: center !important;
    padding: 2%;
}